/*==================== GOOGLE FONTS ====================*/
/* questrial-regular - latin */
@font-face {
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
        url('../fonts/questrial-v13-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/questrial-v13-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*========== Icons ==========*/
@font-face {
    font-family: 'unicons';
    src: url('../fonts/icons/unicons.eot?jef2ss');
    src: url('../fonts/icons/unicons.eot?jef2ss#iefix') format('embedded-opentype'),
        url('../fonts/icons/unicons.ttf?jef2ss') format('truetype'),
        url('../fonts/icons/unicons.woff?jef2ss') format('woff'),
        url('../fonts/icons/unicons.svg?jef2ss#unicons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="uil-"]:before,
[class*=" uil-"]:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'unicons' !important;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -7%;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.uil-angle-right:before {
    content: "\e91c";
}

.uil-apps:before {
    content: "\e900";
}

.uil-arrow-down:before {
    content: "\e901";
}

.uil-arrow-right:before {
    content: "\e902";
}

.uil-arrow-up:before {
    content: "\e903";
}

.uil-briefcase-alt:before {
    content: "\e904";
}

.uil-calendar-alt:before {
    content: "\e905";
}

.uil-css3-simple:before {
    content: "\e906";
}

.uil-download:before {
    content: "\e907";
}

.uil-envelope:before {
    content: "\e908";
}

.uil-estate:before {
    content: "\e909";
}

.uil-figma:before {
    content: "\e90a";
}

.uil-file-alt:before {
    content: "\e90b";
}

.uil-github-alt:before {
    content: "\e90c";
}

.uil-gitlab:before {
    content: "\e90d";
}

.uil-graduation-cap:before {
    content: "\e90e";
}

.uil-html5:before {
    content: "\e90f";
}

.uil-javascript:before {
    content: "\e910";
}

.uil-linkedin-alt:before {
    content: "\e911";
}

.uil-map-marker:before {
    content: "\e912";
}

.uil-message:before {
    content: "\e913";
}

.uil-moon:before {
    content: "\e914";
}

.uil-mouse:before {
    content: "\e915";
}

.uil-sass:before {
    content: "\e916";
}

.uil-scenery:before {
    content: "\e917";
}

.uil-sun:before {
    content: "\e918";
}

.uil-tailwind:before {
    content: "\e919";
}

.uil-times:before {
    content: "\e91a";
}

.uil-user:before {
    content: "\e91b";
}

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    --hue-color: 5;

    /*========== HSL Colors ==========*/
    --first-color: hsl(var(--hue-color), 41%, 51%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 29%);
    --text-color-light: hsl(var(--hue-color), 8%, 40%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --dot-color: hsl(var(--hue-color), 100%, 94%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    --container-color: #fff;

    /*========== Font and typography ==========*/
    --body-font: 'Questrial', sans-serif;

    --big-font-size: 2.5rem;
    --h1-font-size: 2.1875rem;
    --h2-font-size: 2.0625rem;
    --h3-font-size: 1.6875rem;
    --normal-font-size: 1.063rem;
    --small-font-size: .938rem;
    --smaller-font-size: .813rem;

    /*========== Font weight ==========*/
    --font-medium: 400;
    --font-semi-bold: 600;

    /*========== Margins ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mar-0-25: .25rem;
    --mar-0-5: .5rem;
    --mar-0-75: .75rem;
    --mar-1: 1rem;
    --mar-1-5: 1.5rem;
    --mar-2: 2rem;
    --mar-2-5: 2.5rem;
    --mar-3: 3rem;

    /*========== z index ==========*/
    --z-fixed: 100;
    --z-scrollup: 10;

    /*========== SCROLL BAR ==========*/
    /* Works on Firefox*/
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-thumb-color) var(--scroll-bar-color);
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3.5rem; /* 56px */
        --h1-font-size: 2.9375rem; /* 47px */
        --h2-font-size: 2.3125rem; /* 37px */
        --h3-font-size: 1.8125rem; /* 29px */
        --normal-font-size: 1.125rem; /* 18px */
        --small-font-size: 1rem; /* 16px */
        --smaller-font-size: .875rem; /* 14px */
    }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
    --first-color: hsl(var(--hue-color), 47%, 58%);
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --text-color-light: hsl(var(--hue-color), 31%, 80%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    background-color: var(--body-color);
}

body:not(.dark-theme) {
    background-image: radial-gradient(var(--dot-color) 0.8px, transparent 0.8px),
    radial-gradient(var(--dot-color) 0.8px, transparent 0.8px);
    background-position: 0 0, 16px 16px;
    background-size: 32px 32px;
}

h1, h2, h3, h4, dt {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    border: 0;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section {
    min-height: 100vh;
    padding: 2rem 0 4rem;
}

.section__title,
.section__subtitle {
    text-align: center;
    line-height: 1.2em;
}

.section__title {
    font-size: var(--h2-font-size);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mar-3);
}

.button {
    display: inline-flex;
    align-items: center;
    background-color: var(--first-color);
    color: #fff;
    padding: 1rem;
    border-radius: .5rem;
}

.button:hover,
.button:active {
    background-color: var(--first-color-alt);
}

.button:focus {
    outline-color: var(--title-color);
}

.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mar-0-5);
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

/*==================== LAYOUT ====================*/
.container {
    max-width: 768px;
    margin-left: var(--mar-1-5);
    margin-right: var(--mar-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/*==================== ANIMATION ====================*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes textDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

.home__social-icon,
.nav__item,
.change-theme,
.qualification__data {
    animation: fadeIn 0.5s linear;
    animation-fill-mode: both;
}

.qualification__data:nth-child(1) {
    animation-delay: .25s;
}

.qualification__data:nth-child(2) {
    animation-delay: .5s;
}

.qualification__data:nth-child(3) {
    animation-delay: .75s;
}

.qualification__data:nth-child(4) {
    animation-delay: 1s;
}

.home__social-icon:nth-child(1),
.nav__item:nth-child(1) {
    animation-delay: 1.25s;
}

.home__social-icon:nth-child(2),
.nav__item:nth-child(2) {
    animation-delay: 1.50s;
}

.home__social-icon:nth-child(3),
.nav__item:nth-child(3) {
    animation-delay: 1.75s;
}

.nav__item:nth-child(4) {
    animation-delay: 2s;
}

.nav__item:nth-child(5) {
    animation-delay: 2.25s;
}

.nav__item:nth-child(6) {
    animation-delay: 2.50s;
}

.change-theme {
    animation-delay: 2.75s;
}

.home__name {
    animation: textDown 1s ease 0s 1 normal both;
}

.home__profession {
    animation: textDown 1s 0.5s ease-in-out both;
}

/*==================== NAV ====================*/
.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle,
.change-theme {
    color: var(--title-color);
}

.nav__logo:hover,
.nav__toggle:hover,
.change-theme:hover {
    color: var(--first-color);
}

.nav__btns {
    display: flex;
    align-items: center;
}

.nav__toggle,
.change-theme {
    font-size: 1.25rem;
    cursor: pointer;
}

.change-theme {
    margin-right: var(--mar-1);
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        background-color: var(--body-color);
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
        border-radius: 1.5rem 1.5rem 0 0;
        left: 0;
        bottom: -100%;
        width: 100%;
        padding: 2rem 1.5rem 4rem;
        transition: .3s;
    }
}

.nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--title-color);
    font-size: var(--small-font-size);
    word-break: break-all;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__icon {
    font-size: 1.2rem;
}

.nav__close {
    cursor: pointer;
    color: var(--first-color);
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
}

.nav__close:hover {
    color: var(--first-color-alt);
}

/* Show menu */
.show-menu {
    bottom: 0;
}

/* Add boxshadow header */
.scroll-header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    background-color: var(--body-color);
}

.active-link {
    color: var(--first-color);
}

/*==================== HOME ====================*/
.home__container {
    gap: 1rem;
}

.home__social {
    display: flex;
    gap: 1rem;
}

.home__social-icon {
    color: var(--first-color);
    font-size: 1.25rem;
}

.home__social-icon:hover {
    color: var(--first-color-alt);
}

.home__blob {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    fill: var(--first-color);
}

.home__name {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mar-0-5);
}

.home__profession {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mar-0-75);
}

.home__button {
    margin-top: var(--mar-2);
}

.home__scroll-button {
    color: var(--first-color);
    transition: .5s;
}

.home__scroll-button:hover {
    transform: translateY(.25rem);
}

.home__scroll-mouse {
    font-size: 2rem;
}

.home__scroll-text {
    font-size: var(--small-font-size);
    color: var(--title-color);
    margin-right: var(--mar-0-25);
}

.home__scroll-arrow {
    font-size: 1.25rem;
}

/*==================== ABOUT ====================*/
.about__text {
    text-align: center;
    line-height: 1.2em;
}

/*==================== SKILLS ====================*/
.skills__container {
    grid-template-columns: repeat(2, 1fr);
}

.skills__content {
    background-color: var(--container-color);
    padding: 2.5rem 1.5rem;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}

.skills__content:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
    transition: .3s;
}

.skills__icon {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: var(--mar-1);
}

.skills__title {
    text-align: center;
    margin-bottom: var(--mar-1);
}

/*==================== QUALIFICATION ====================*/
.qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mar-2-5);
}

.qualification__button {
    font-size: var(--h3-font-size);
    cursor: pointer;
}

.qualification__button:hover {
    color: var(--first-color);
}

.qualification__icon{
    font-size: 1.8rem;
    margin-right: var(--mar-0-25);
}

.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    gap: 1.5rem;
}

.qualification__calendar {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.qualification__point {
    display: inline-block;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: var(--first-color);
}

.qualification__line {
    display: block;
    height: 100%;
    width: 1px;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

.qualification__text {
    line-height: 1.2em;
    padding-bottom: 20px;
}

.qualification__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mar-1);
}

.qualification__summary {
    margin-bottom: var(--mar-1);
}

.qualification__content {
    display: none;
}

.qualification__content.js-qualification__active {
    display: block;
}

.qualification__button.js-qualification__active {
    color: var(--first-color);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-position: under;
}

/*==================== PORTFOLIO ====================*/
.portfolio__container input[type=radio] {
    display: none;
}

.portfolio__image {
    position: relative;
    max-width: 471px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio__image-lg {
    width: auto;
}

.portfolio__image-tb {
    position: absolute;
    width: 25%;
    bottom: 0;
    right: 1.1rem;
    z-index: 1;
}

.portfolio__image-mb {
    position: absolute;
    width: 15%;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.image_1,
.image_2,
.image_3,
.image_4,
.image_5 {
    display: none;
}

#image1:checked~.image_1,
#image2:checked~.image_2,
#image3:checked~.image_3,
#image4:checked~.image_4,
#image5:checked~.image_5 {
    display: block;
}

.portfolio__image-lg,
.portfolio__image-tb,
.portfolio__image-mb {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
}

.portfolio__header {
    display: flex;
    align-items: center;
    margin-bottom: var(--mar-0-25);
}

.portfolio__title {
    font-size: var(--h3-font-size);
    cursor: pointer;
    line-height: 1.2em;
}

.portfolio__chevron {
    transform: rotate(-90deg);
    font-size: 1.5rem;
    margin-left: 0.25rem;
}

.portfolio__tags {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    margin-bottom: var(--mar-1);
    line-height: 1.2em;
}

.portfolio__tag {
    margin-right: 0.5rem;
}

.portfolio__description {
    display: none;
    line-height: 1.2em;
}

.portfolio__content.portfolio__active {
    margin-bottom: var(--mar-2);
}

.portfolio__content.portfolio__active .portfolio__header {
    background-color: var(--first-color);
    padding-left: 1rem;
    border-radius: .5rem;
}

.portfolio__content.portfolio__active .portfolio__title {
    color: #fff;
}

.portfolio__content.portfolio__active .portfolio__chevron {
    color: #fff;
    transform: rotate(90deg);
}

.portfolio__content.portfolio__active .portfolio__description {
    display: block;
}

/*==================== CONTACT ME ====================*/
.contact__information {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .20rem .75rem;
    margin-bottom: var(--mar-2);
}

.contact__icon {
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 2rem;
    color: var(--first-color);
}

.contact__sent {
    justify-content: center;
    text-align: center;
    line-height: 1.4em;
}

.contact__content {
    background-color: var(--input-color);
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
}

.contact__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact__subtitle {
    color: var(--text-color-light);
}

.contact__label {
    font-size: var(--smaller-font-size);
    color: var(--title-color);
}

.contact__input {
    width: 100%;
    background-color: var(--input-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

.contact__form textarea {
    resize: vertical;
}

.form-invalid {
    border: 2px solid var(--first-color);
}

.form-invalid small {
    font-weight: var(--font-semi-bold);
}

/*==================== FOOTER ====================*/
.footer {
    background-color: var(--first-color);
    padding: 2rem 0 3rem;
}

.footer__container {
    row-gap: 3.5rem;
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social,
.footer__copy,
.footer__copy a {
    color: #FFF;
}

.footer__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mar-0-25);
    line-height: 1;
}

.footer__subtitle {
    font-size: var(--small-font-size);
}

.footer__links {
    display: grid;
    row-gap: 1.5rem;
}

.footer__socials {
    display: flex;
    gap: var(--mar-1-5);
}

.footer__social {
    font-size: 1.25rem;
}

.footer__link:hover,
.footer__social:hover {
    color: var(--first-color-lighter);
}

.footer__copy {
    display: block;
    font-size: var(--smaller-font-size);
    text-align: center;
}

.footer__copy a {
    text-decoration: underline;
}

/*========== SCROLL BAR ==========*/
/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}

/*========== SCROLL UP ==========*/
.scrollup {
    position: fixed;
    z-index: var(--z-scrollup);
    bottom: -50%;
    right: 1rem;
    background-color: var(--first-color);
    border-radius: .4rem;
    padding: .3rem;
    opacity: .8;
    transition: .4s;
}

.scrollup:hover {
    background-color: var(--first-color-alt);
}

.scrollup__icon {
    font-size: 1.5rem;
    color: #fff;
}

.show-scrollup {
    bottom: 4rem;
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */

@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mar-1);
        margin-right: var(--mar-1);
    }

    .nav__menu {
        padding-left: .25rem;
        padding-right: .25rem;
    }
    .nav__list {
        column-gap: .5rem;
    }

    .home__blob {
        width: 180px;
    }

    .skills__container {
        grid-template-columns: max-content;
        justify-content: center;
    }

    .qualification__button {
        text-align: center;
    }
    .qualification__data {
        grid-template-columns: max-content 1fr;
        grid-template-rows: max-content 1fr;
        gap: 1rem;
    }
    .qualification__marker {
        order: 1;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    .qualification__calendar {
        order: 2;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .qualification__text {
        order: 2;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .portfolio__content.portfolio__active .portfolio__header {
        padding-right: 1rem;
    }
}

/* For medium devices */
@media screen and (min-width: 568px) {
    .home__content {
        grid-template-columns: max-content 1fr 1fr;
        align-items: center;
    }
    .home__social {
        flex-direction: column;
    }
    .home__img {
        order: 1;
    }

    .qualification__contents {
        display: grid;
        justify-content: center;
    }
    .qualification__content {
        padding-bottom: 40px;
    }
    .qualification__calendar {
        text-align: end;
    }

    .contact__container,
    .footer__container {
        grid-template-columns: 1fr 1fr;
    }
    
    .footer__socials {
        grid-column: 1 / 2;
    }
    .footer__copy {
        grid-column: 1 / 3;
    }
}

/* For large devices */
@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }
    header,
    main,
    .footer__container {
        padding: 0 1rem;
    }
    .section__title,
    .section__subtitle,
    .about__text,
    .qualification__text,
    .portfolio__content,
    .portfolio__title {
        line-height: 1.4em;
    }
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .header {
        top: 0;
        bottom: initial;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }
    .nav__toggle,
    .nav__icon,
    .nav__close {
        display: none;
    }
    .nav__menu {
        margin-left: auto;
    }
    .nav__list {
        display: flex;
    }
    .change-theme {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }
    .section__subtitle {
        margin-bottom: 4rem;
    }

    .home__container {
        row-gap: 5rem;
    }
    .home__content {
        column-gap: 2rem;
        padding-top: 5.5rem;
    }
    .home__social {
        gap: 1.5rem;
    }
    .home__name {
        margin-bottom: var(--mar-1);
    }
    .home__blob {
        width: 270px;
    }
    .home__scroll-button {
        margin-left: 3rem;
    }

    .about__text {
        text-align: left;
        line-height: 1.4em;
    }

    .skills__container {
        grid-template-columns: repeat(3, 218px);
    }
    .skills__content {
        padding: 4rem 2.5rem;
    }
    .skills__icon {
        font-size: 2rem;
    }

    .qualification__tabs {
        justify-content: center;
    }
    .qualification__button {
        margin: 0 var(--mar-1);
    }

    .portfolio__container {
        grid-template-columns: 50% 1fr;
    }
    .portfolio__images {
        align-self: center;
        margin-bottom: 0;
    }
    .portfolio__image {
        height: 18.3rem;
    }
    .portfolio__image-lg {
        position: absolute;
        bottom: 0;
    }
    .portfolio__image-tb {
        right: 3.1rem;
    }

    .footer__bg {
        padding: 1.5rem 0 1rem;
    }
    .footer__container {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__links {
        display: flex;
        gap: 2rem;
    }
    .footer__socials {
        grid-column: 3 / 4;
        justify-self: end;
        margin-right: var(--mar-1-5);
    }
    .footer__copy {
        grid-column: 1 / 4;
    }
}

/* For large devices */
@media screen and (min-width: 1024px) {
    .container {
        max-width: 1040px;
    }
    
    .home__blob {
        width: 320px;
    }
    .home__social {
        transform: translateX(-6rem);
    }

    .skills__container {
        grid-template-columns: repeat(3, 238px);
    }

    .qualification__data:nth-child(even) .qualification__calendar {
        order: 2;
        text-align: left;
    }
    .qualification__data:nth-child(even) .qualification__marker {
        order: 1;
    }
    .qualification__data:nth-child(even) .qualification__text {
        order: 0;
        text-align: right;
    }

    .contact__form {
        width: 460px;
    }
    .contact__inputs {
        grid-template-columns: 1fr 1fr;
    }
}
